QWidget,
QMenu {
    background-color: rgb(240, 240, 240);
    margin: 0;
}


QMenu::item:text,
QLineEdit,
QPushButton {
   font-size: 14px;
}


QMenu::item {
    padding: 2px 25px 2px 22px;
    border: 1px solid transparent; /* резерв пространства для границы выделения */
    background-color: transparent;
}


QMenu::item:selected,
QLineEdit:focus,
QPushButton:hover,
*[addNewAccount="true"] { /* когда пользователь выбирает пункт с помощью мыши или клавиатуры */
    background-color: transparent;
    border: 2px groove rgb(40, 122, 203);
}


QPushButton {
    /* double groove ridge */
    border: 1px solid rgb(174, 174, 176);
    border-radius: 2px;
    background-color: transparent;
    min-width: 110px;
}


QPushButton::menu-indicator {
    image: url(./3.png);
    subcontrol-origin: padding;
    subcontrol-position: bottom right;
}


QLineEdit {
    border: 1px solid rgb(174, 174, 176);
    border-radius: 2px;
    padding: 0 8px;
    background: transparent;
    selection-background-color: rgb(169, 169, 169);
 }


QScrollBar:vertical {
    border: 0;
    background: transparent;
    width: 8px;
    margin: 6px 0 6px 0;
}


QScrollBar::handle:vertical:hover,
QScrollBar::add-line:vertical:hover,
QScrollBar::sub-line:vertical:hover {
    background: rgb(174, 174, 176);
}


QScrollBar::handle:vertical {
    background: rgb(207, 207, 209);
    min-height: 5px;
    border-radius: 4px;
}


QScrollBar::add-line:vertical {
    border: 0 solid transparent;
    border-radius: 2px;
    background: rgb(207, 207, 209);
    height: 5px;
    subcontrol-position: bottom;
    subcontrol-origin: margin;
}


QScrollBar::sub-line:vertical {
    border: 0 solid transparent;
    border-radius: 2px;
    background: rgb(207, 207, 209);
    height: 5px;
    subcontrol-position: top;
    subcontrol-origin: margin;
}


QScrollBar::add-page:vertical, QScrollBar::sub-page:vertical {
    background: none;
}

