QLineEdit {
  border: 1px solid #ededed;
  selection-background-color: #4d88c0;

  color: #292929;
  font-size: 12px;
  font-family: 'Trebuchet MS', sans-serif;

  min-width: 50px;

  border-radius: 2px;
  padding: 0 8px;
  background: transparent;

}

QLineEdit:focus  {
  border: 2px groove #4d88c0;
  background-color: transparent;
}